
.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* NAVBAR SECTION */

  #id-filma {
    display: none;
  }
  .login {
    text-align: right;
    color: #daa520;
  }
  
  .header {
    background-color: transparent;
  }
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    max-width: 100%;
  }
  div.dropdown-menu.show {
    width: 10%;
    margin: 0;
  }
  div.dropdown-menu{
    background-color: transparent;
    width: 40px;
    margin: 0;
  }
  nav.navbar.navbar-expand-lg.navbar-dark {
    padding-top: 15px;
    
  }
  li.nav-item {
    border-radius: 5px;
    margin-left: 5px;
    opacity: 1;
  }
  a.nav-link {
    text-transform: uppercase;
    color: #083877;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: #daa520;
    font-weight: 700;
  }
  /* .navbar-dark .navbar-nav .nav-link:hover{
    color: #000000;
  } */
  .navbar-dark.black-font .navbar-nav .nav-link {
    color: #000000;
    font-weight: 700;
    text-shadow: 1px 1px #b0c4de;
  }
  .dropdown-item {
    color: #daa520;
    background-color: #000;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    color: #daa520;
    background-color: #000000;
  }
  .dropdown-menu {
    border: none;
  }
  .navigation {
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    background: transparent;
  }

/* FOOTER SECTION */

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  
  padding: 10px;
}
.grid-item {
  
  text-align: center;
}
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e;
    bottom: 0;
    width: 100%;
    height: 30%;
    font-size: x-small;
}
#footer h5{
	padding-left: 10px;
  /* padding-bottom: 6px; */
  margin-bottom: 10px;
  color:#ffffff;
  font-size: x-small;
}
.copyright {
  font-size: x-small;

}

#footer a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

/* Main Section */

.pozadina {
  background-image: url(../img/wiki-movie-bckg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.pozadina2 {
  background-image: url(../img/wiki-movie-bckg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#search-movies {
  margin: 30px auto;
  color: #ffffff;
  
}
.grid-container-main {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container-main > div {
  color: #ffffff;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  box-shadow: 3px 3px 5px #000000;
}

/* IKS DUGME */

.iks:hover {
  cursor: pointer;
}

.iks{
  display: none;
  position: absolute;
  right:3px;
  top:3px;
}
.filmski-div {
  
  position: relative;
  
}

/* IKS DUGME END */